<!-- <h2>Professionals</h2>
<ul>
  <li *ngFor="let professional of professionals">
    {{ professional.name }} - {{ professional.specialty }}
  </li>
</ul>

<h2>Clients</h2>
<ul>
  <li *ngFor="let client of clients">
    {{ client.name }} ({{ client.contact }})
  </li>
</ul>

<h2>Availabilities</h2>
<ul>
  <li *ngFor="let availability of availabilities">
    Professional {{ availability.professionalId }}: 
    {{ availability.date }} at {{ availability.time }}
  </li>
</ul>

<h2>Appointments</h2>
<ul>
  <li *ngFor="let appointment of appointments">
    Client {{ appointment.clientId }} with Professional {{ appointment.professionalId }}: 
    {{ appointment.date }} at {{ appointment.time }}
  </li>
</ul> -->

<div>
    <h3>Prendre un rendez vous </h3>
    <h3>les rendez vous disponible sont :</h3>
    <ul>
    <li *ngFor="let availability of availabilities">
        Doctor {{ availability.professionalId }}: 
        {{ availability.date }} at {{ availability.time }}
    </li>
    </ul>

    <button class="btn-rdv" (click)="showHome()">
        prendre un rendez vous maintenant 
    </button>
</div>

